Resources:
  SSMParameterStorePolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: SSMParameterStoreAccess
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - ssm:GetParameter
              - ssm:GetParameters
              - ssm:GetParametersByPath
            Resource:
              - "arn:aws:ssm:ap-south-1:*:parameter/Rocketry_Box02/frontend/*"
          - Effect: Allow
            Action:
              - kms:Decrypt
            Resource:
              - "arn:aws:kms:ap-south-1:*:key/*"
            Condition:
              StringEquals:
                'kms:ViaService': 'ssm.ap-south-1.amazonaws.com'
      Roles:
        - Ref: aws:elasticbeanstalk:ec2:role 